@model IEnumerable<StudentInterships.Models.Internship>

@{
    ViewData["Title"] = "Internship Page";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.HoursLogged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisorFeedback)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.HoursLogged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorFeedback)
            </td>
            <td>
                <a asp-action="HoursLogged" asp-route-id="@item.Id">Hours Logged</a> |
                <a asp-action="Feedback" asp-route-id="@item.Id">Feedback</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
