@model IEnumerable<EventEase.Models.Bookings>

@{
    ViewData["Title"] = "Bookings";
}

<h1>index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDetails.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
